@model IEnumerable<SE340.Models.Vehicle>

@{
    ViewData["Title"] = "Favorites";
    var userFavorites = (List<Vehicle>)ViewData["UserFavorites"];
}


<h1>Favorites</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine_Layout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_cylinders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Displacement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (userFavorites.Contains(item))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Drive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Engine_Layout)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num_cylinders)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Displacement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary">
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <a asp-action="Unfavorite" asp-route-id="@item.ID">Unfavorite</a>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
